.header {
	
	
	
	& .user {
		position: absolute;
		top: 25px;
		right: 0;
		
		& span {
			color: var(--white);
			margin-right: 13px;
			vertical-align: middle;
			margin-top: 8px;
			font-weight: 300;
			font-size: var(--small-font-size);
		}
		
		& .github {
			margin-left: 10px;
			position: relative;
			width: 32px;
			height: 32px;
			transform: translateY(-50%);

			& img {
				margin: auto;
				opacity: 1;
				transition: all .3s ease;
				width: 32px;
				height: 32px;
				transition: all .5s ease;
				transform: translateY(0);
				z-index: 5;
				vertical-align: middle;

				&.bright {
					transform: translateY(300%);
					opacity: 0;
				}
				
				&:hover {
					opacity: .5;
				}
			}
		}
	}
	
	& .navigation {
		display: flex;
		box-sizing: border-box;
		height: 100%;
		transform: translateY(-100%);
		opacity: 0;
		transition: all 1s ease;
		transition-delay: 1s;

		& div {
			display: flex;
			height: 100%;
		}

		& ul.menu {
			@mixin noList;
			padding: 5px 0;
			margin: auto;
			display: flex;
			align-items: center;

			& li {
				display: inline-block;
				margin-right: 45px;
				letter-spacing:1px;

				&:last-child {
					margin-right: 0;
				}

				& a {
					text-transform: uppercase;
					color: var(--white);
					font-weight: 300;
					text-transform: none;
					font-size: 18px;

					&:hover {
						color: color-mod(var(--primary-color) lightness(40%));
					}
				}
			}
			
		}
	}

	&.loaded {
		& .navigation {
			transform: translateY(0);
			opacity: 1;
			
		}

	}

	& .dropdown {
		
	    background: var(--dark-blue);
		color: white;
		max-width: 184px;
		z-index: 9;
		position: absolute;
		bottom: -140px;
		right: 0;
		display: none;
		text-align: left;
		padding: 10px;
		font-size: 14px;
		
		& a {
			display: inline-block;
			color:white;
			width: 100%;
			margin-bottom:8px;
			
			&:hover {
				color: var(--primary-color);
			}
		}
	}
	
	& .has-dropdown:hover .dropdown {
		display: inline-block;
	}

}